a {
  text-decoration: none;
  color: var(--color-6);
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 10vh;
  width: 100%;
  background-color: var(--color-1);
  transition: all 0.5s;
}

.logo {
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
  color: var(--color-6);
  cursor: default;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}

.list {
  display: flex;
}

.item {
  list-style: none;
  padding: 1rem;
  font-weight: bold;
  font-size: larger;
  font-style: italic;
}

.item:hover > a {
  color: var(--color-5);
  text-decoration: underline;
  opacity: 0.8;
}

.show {
  color: var(--color-5);
  text-decoration: underline;
}

@media screen and (max-width: 720px) {
  .navbar {
    display: flex;
    height: 16vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    margin-bottom: 0;
  }

  .list {
    padding: 0;
  }

  .item {
    font-size: 15px;
    padding: 0 1rem;
  }
}
