:root {
  --color-1: #f1ede6;
  --color-2: #ebe3db;
  --color-3: #d1c7bd;
  --color-4: #cbad8d;
  --color-5: #a48374;
  --color-6: #3a2d28;
}

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
